body {
    background-image: url("images/car10.png");
    background-color: rgb(60, 60, 61);

     margin: 0;
     background-repeat: no-repeat;
     background-position: top center;
     background-attachment: scroll;
     background-size: 100% auto;
     animation: changeBackground 10s infinite steps(1, end);

 }
 

 
.parent{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  background-color: black;
  padding-top: 20px;
   position: fixed; 
  top: 0;
  width: 100%; 
  mask: linear-gradient(rgb(170, 5, 82),transparent);
  z-index: 1000000000000000000000000000000000000;

}
.parent div{
background-color: black;
margin-right: 80px;
padding-bottom: 5px;
}
.aitem1,.aitem2,.aitem3,.aitem4,.aitem5{
 text-decoration: none;
 color: aliceblue;
 font-family: 'poppins',sans-serif;
 font-size: 25px;
 cursor: pointer;
display: inline-block;
 
}
.icon:hover{
  transform: perspective(500px)  rotate(45deg);
  margin-bottom: 10px;
}
.aitem1:hover,.aitem2:hover,.aitem3:hover,.aitem4:hover,.aitem5:hover{
background-color: rgb(108, 110, 110);
border-radius: 2px;
padding: 2px;
color: rgb(248, 33, 33);
box-shadow: 0 0 5px 5px rgb(108, 110, 110); 
}
.customAlert {
  margin: 40px 0px 30px 0px;
  display: none;
  position: fixed;
  top: 0;
   left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 100000000;
  direction: rtl;

}

.customAlertBox {
  top: 10px;
   margin-bottom: 20px;
  background: white;
  padding: 20px;
  min-width: 300px;
  max-width: 80%;
  text-align: center;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  direction: ltr;
  max-height: 77vh; /* أقصى ارتفاع 80% من الشاشة */
  overflow-y: auto; /* سكرول رأسي */
  z-index: 1000000000000000;
  

}

.closeAlertBtn {
  margin-top: 10px;

  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.closeAlertBtn:hover {
  background-color: #0056b3;
}
.table1{
  direction: rtl;
  
}

th{
  background-color: #007bff;
  padding: 5px;
  text-align: center;
  margin: 10px;
}
 td{
    background-color: #accbee;
    font-weight: 200;
    font-size: 18px;
    padding: 5px;
    text-align: right;
    padding-right: 10px;
    padding-left: 10px;

    
  }

.thw{
  background-color: #aeaef3 ;
}

.opp{
  display: grid;
  grid-template-rows: repeat(2,auto);
  row-gap: 3px;
}
.opp div{
  background-color: rgb(92, 92, 168);
  height: 40px;
  font-size: 20px;
  padding-top: 15px;
  text-align: center;
  line-height: 35px;
}
.closeAlertBtn {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 17px;
  color: #000;
}
.closeAlertBtn:hover {

  box-shadow: 0 0 20px 5px #298f86; /* الشعاع يظهر هنا */

}

input[type="text"] {
  padding: 8px;
  margin-bottom: 15px;
  font-size: 16px;
  border: 5px rgb(0, 38, 255) solid;
}
.td1{
  text-align: center;
}





.parentbranches{
  position: absolute;
}
.parentbranches div{
  
  text-align: center;
  font-family: 'poppins',sans-serif;
  color: antiquewhite;

}
.branch1{
  position: absolute;
  top: 300px;
 left: 1150px;
 font-size: 20px;
 width: 200PX;
 height: 60PX;
 padding-top: 20px;
 font-weight: 200;
 border-bottom-right-radius: 10px;
 border-top-left-radius: 10px;
 background-color: #1e1732;
 mask: linear-gradient(rgb(170, 5, 82),transparent);
 text-decoration: none;
        color:white;


 
}
.branch2{
  position: absolute;
  top: 220px;
 left: 1070px;
 font-size: 20px;
 width: 200PX;
 height: 40PX;
 padding-top: 20px;
 font-weight: 200;
 border-bottom-right-radius: 10px;
 border-top-left-radius: 10px;
 background-color: #291f42;
    color:white;
 
}
.branch3{
  position: absolute;
  top: 140px;
  left: 970px;
  font-size: 20px;
  width: 200PX;
  height: 40PX;
  padding-top: 20px;
  font-weight: 200;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
  background-color: #332753;
        color:white;


}
.branch4{
  position: absolute;
  top: 100px;
 left: 750px;
 font-size: 20px;
 width: 200PX;
 height: 40PX;
 padding-top: 20px;
 font-weight: 200;
 border-bottom-right-radius: 10px;
 border-top-left-radius: 10px;
 background-color: #3d2e64;
        color:white;


}
.branch5{
  position: absolute;
  top: 70px;
 left: 610px;
 font-size: 20px;
 width: 130PX;
 height: 40PX;
 padding-top: 20px;
 font-weight: 200;
 border-radius: 10px;
 background-color: #4a235a;
     color:white;

}
.branch6{
  position: absolute;
  top: 100px;
 left: 400px;
 font-size: 20px;
 width: 200px;
 height: 40PX;
 padding-top: 20px;
 font-weight: 200;
 border-bottom-left-radius: 10px;
 border-top-right-radius: 10px;
 background-color: #3d2e64;
        color:white;


}
.branch7{
  position: absolute;
  top: 140px;
 left: 180px;
 font-size: 20px;
 width: 200PX;
 height: 40PX;
 padding-top: 20px;
 font-weight: 200;
 border-bottom-left-radius: 10px;
 border-top-right-radius: 10px;
 background-color: #332753;
        color:white;



}
.branch8{
  position: absolute;
  top: 220px;
 left: 80px;
 font-size: 20px;
 width: 200PX;
 height: 40PX;
 padding-top: 20px;
 font-weight: 200;
 border-bottom-left-radius: 10px;
 border-top-right-radius: 10px;
 background-color: #291f42;
        color:white;



}
.branch9{
  position: absolute;
  top: 300px;
 left: 10px;
 font-size: 20px;
 width: 200PX;
 height: 60PX;
 padding-top: 20px;
 font-weight: 200;
 border-bottom-left-radius: 10px;
 border-top-right-radius: 10px;
 background-color: #1e1732;
 mask: linear-gradient(rgb(78, 10, 143),transparent);
        color:white;


 
}
 .branch1:hover,.branch2:hover,.branch3:hover,.branch4:hover,.branch5:hover,.branch6:hover,.branch7:hover,.branch8:hover,.branch9:hover{
  box-shadow: 0 0 20px 5px #5802f8; 

 }
 
 .branch1:visited,.branch2:visited,.branch3:visited,.branch4:visited,.branch5:visited,.branch6:visited,.branch7:visited,.branch8:visited,.branch9:visited{
color: #aeaef3;
 }




 .pranche{
  text-decoration: none;
  color: #000;
 }

 .customAlertBox1 {
  top: 10px;
   margin-bottom: 20px;
  background: rgb(112, 111, 111);
  padding: 20px;
  min-width: 70%;
  max-width: 70%;
  text-align: center;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  direction: ltr;
  max-height: 77vh; 
  overflow-y: auto;
  z-index: 1000000000000000;
  opacity: 0.7;
  

}

.aiertp{
text-align: right;
font-size: 20px;

}

.hbranch{
  color: #6ed6ff;
}
