body {
    background-image: url("");
    background-color: #000;
    margin-top: 500px;
     margin: 0;
     background-repeat: no-repeat;
     background-position: top center;
     background-attachment: scroll;
     background-size: 100% auto;
     animation: changeBackground 10s infinite steps(1, end);
 }
 

 
.parent{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  background-color: black;
  padding-top: 20px;
   position: fixed; 
  top: 0;
  width: 100%; 
  mask: linear-gradient(rgb(170, 5, 82),transparent);
  z-index: 1000000000000000000000000000000000000;

}
.parent div{
background-color: black;
margin-right: 80px;
padding-bottom: 5px;
}
.aitem1,.aitem2,.aitem3,.aitem4,.aitem5{
 text-decoration: none;
 color: aliceblue;
 font-family: 'poppins',sans-serif;
 font-size: 25px;
 cursor: pointer;
display: inline-block;
 
}
.icon:hover{
  transform: perspective(500px)  rotate(45deg);
  margin-bottom: 10px;
}
.aitem1:hover,.aitem2:hover,.aitem3:hover,.aitem4:hover,.aitem5:hover{
background-color: rgb(108, 110, 110);
border-radius: 2px;
padding: 2px;
color: rgb(248, 33, 33);
box-shadow: 0 0 5px 5px rgb(108, 110, 110); /* الشعاع يظهر هنا */
}
.customAlert {
  margin: 40px 0px 30px 0px;
  display: none;
  position: fixed;
  top: 0;
   left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 100000000;
  direction: rtl;

}

.customAlertBox {
  top: 10px;
   margin-bottom: 20px;
  background: white;
  padding: 20px;
  min-width: 300px;
  max-width: 80%;
  text-align: center;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  direction: ltr;
  max-height: 77vh; /* أقصى ارتفاع 80% من الشاشة */
  overflow-y: auto; /* سكرول رأسي */
  z-index: 1000000000000000;
  

}

.closeAlertBtn {
  margin-top: 10px;

  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.closeAlertBtn:hover {
  background-color: #0056b3;
}
.table1{
  direction: rtl;
  
}

th{
  background-color: #007bff;
  padding: 5px;
  text-align: center;
  margin: 10px;
}
 td{
    background-color: #accbee;
    font-weight: 200;
    font-size: 18px;
    padding: 5px;
    text-align: right;
    padding-right: 10px;
    padding-left: 10px;

    
  }

.thw{
  background-color: #aeaef3 ;
}
input[type="text"] {
  padding: 8px;
  margin-bottom: 15px;
  font-size: 16px;
  border: 5px rgb(0, 38, 255) solid;
}
.td1{
  text-align: center;
}
.opp{
  display: grid;
  grid-template-rows: repeat(2,auto);
  row-gap: 3px;
}
.opp div{
  background-color: rgb(92, 92, 168);
  height: 40px;
  font-size: 20px;
  padding-top: 15px;
  text-align: center;
  line-height: 35px;
}
.closeAlertBtn {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 17px;
  color: #000;
}
.closeAlertBtn:hover {

  box-shadow: 0 0 20px 5px #298f86; /* الشعاع يظهر هنا */

}







.container {
  width: 100%;
  text-align: center;
  margin-top: 80px;
}

.section {
  margin: 10px;
}

.cbox {
  display: none;
  
}

.button1 {
  display: block;
  width: 100%;
  height: 60px;
  font-size: 23px;
  background-color: #acacac;
  color: rgb(8, 8, 8);
  border: none;
  cursor: pointer;
  line-height: 60px;
  border-radius: 15px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
}

.dropdown {
  width: 100%;
  min-height: 100%;
  background-color: #555657;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.4s ease-in-out;
  display: flex;
  text-align: right;
  border-radius: 15px;
  padding-bottom: 10px;
  direction: rtl;
  padding-bottom: 10px;
}
.dropdown1{
  width: 100%;
  min-height: 100%;
  background-color: #555657;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.4s ease-in-out;
  display: flex;
  text-align: right;
  border-radius: 15px;
  padding-bottom: 10px;
  direction: rtl;
}

.cbox:checked + label + .dropdown  {
  max-height: 100px;
  font-size: 20px;
  line-height: 35px;
  padding-bottom: 30px;



}
.cbox:checked + label + .dropdown1  {
  max-height: 100%;
  font-size: 20px;
  line-height: 35px;
  padding-bottom: 30px;

}

.p1 {
  color: #030303;
  font-size: 20px;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.pupdata{
  font-size: 50px;
}
.v10{
  margin-right: 20%;
}


.th2, .td2 {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center !important; 
        vertical-align: middle !important; 
}
 .td2:hover {
            background-color: #b3b2b2;
        }


.th2 {
    background-color: #006fee;
    font-weight: bold;
    text-align: center;
}
@media screen and (max-width:1200px) {
  body{

  }
  .abazaname{
    visibility: hidden;
  }
 .aboutme{
  line-height: 60px;
 }
 .footer8{
    line-height: 70px;
    text-align: center;

 }
 .button1{
  margin-top: 150px;
 }
 #searchInput{
  margin-top: 200px;
 }
 
  
}


